body{
    margin: 0; /**/
    font-family: Arial,  sans-serif; /*шрифты*/
    background-color: #f0f0f0; /*цвет*/
}

.gallery{
    display: flex; /*помогает элементам для спец. функций*/
    flex-wrap: wrap; /*вот например такая спец. функция*/
    justify-content: space-around; /*пространство вокруг объекта*/
    padding: 20px; /*отступ*/
}

.gallery_item{
    width: 200px; /*сам размер???*/
    margin: 10px; /*!!!*/
    border-radius: 30px; /*закругления*/
    overflow: hidden; /*прячет*/
}
.gallery_item img{
    width: 100%;
    height: 100%; /*размер*/
    display: block; /*блокирует дисплей*/
    cursor: pointer; /*делается для мыши и указателя*/
    
}
.gallery_item:hover{
    transform: scale(1.05); /*опять что то с размером связанно*/
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7); /*тень*/
}